*.iml
.gradle
build/
.idea
local.properties
.cxx
*.apk
*.aab
*.hprof
captures/
*.keystore
!debug.keystore
*.hprof
render.log
.externalNativeBuild
.cmake
*.jks
whisper/
backend/static/duix-models/*.zip
backend/venv/
__pycache__/
*.pyc
.pytest_cache/
