backend/.env
frontend/.env
frontend/.expo/
frontend/dist/
frontend/node_modules/
frontend/ios/
frontend/android/*.jks
frontend/android/app/*.jks
frontend/android/release-apks/
frontend/android/release-aab/
frontend/android/app/build/
frontend/android/app/src/main/assets/duix-models/*.zip
marketing/node_modules/
marketing/*.log
backend/venv/
**/__pycache__/
*.pyc
*.iml
.gradle
build/
.idea
local.properties
.cxx
*.apk
*.aab
*.hprof
captures/
*.keystore
!debug.keystore
render.log
.externalNativeBuild
.cmake
*.jks
whisper/
backend/static/duix-models/*.zip
backend/venv/
__pycache__/
*.pyc
.pytest_cache/
